<h2>Create new post</h2>
  <p><%= notice %></p>
  <div class="col-xs-12 col-md-6 group-panel">
    <p>Group: <%= @group.groupname %></p>
    <p>Description: <%= @group.content %></p>
  </div>
  <%= render 'form' %>